@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(36000deg);
  }
}

.logo-container {
  z-index: 0;
  width: 600px;
  height: 809px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solid-logo {
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 1;
  z-index: 1;
}

.solid-logo:hover {
  animation: rotate 100s linear both;
}
